.App {
  text-align: center;
  font-family: "Lato", sans-serif;
}

.heading {
  color: #e02401;
}

.input-block {
  display: block;
  margin: 1rem;
}

.input-block input {
  padding: 12px 1rem;
  margin: 8px 12px;
  border: none;
  background-color: #ebebeb;
  border-radius: 6px;
  border: 2px solid transparent;
  font-size: 14px;
  width: 300px;
}

.input-block input:hover {
  border: 2px inset #e02401;
}

.para {
  font-size: 1.24rem;
  margin: 20px 3px;
}

.submit-btn {
  background-color: #e02401;
  border: 1px solid transparent;
  padding: 12px 20px;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}

table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table tr td:first-child {
  width: 100px;
}

table tr td {
  border: 1px solid #e02401;
  padding: 6px 8px;
  min-width: 60px;
}
